.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.title {
	margin: 0;
}
.seperator {
	width: 100%;
	height: 1px;
	background-color: white;
	margin-bottom: 1rem;
}

.guess {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.guess-box {
	width: 3rem;
	height: 3rem;
	margin-bottom: 1rem;
	border: 2px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	text-transform: uppercase;
	color: white;
}

.green {
	background-color: green;
}

.yellow {
	background-color: rgb(175, 175, 65);
}

.grey {
	background-color: rgb(92, 91, 91);
}

#gameMessage {
	opacity: 0;
}

.error > div {
	animation: errorBorder 0.5s ease-in-out forwards;
}

.errorMessage {
	animation: blink .5s ease-in-out forwards;

}

@keyframes blink {
	0%,
	100% {
		opacity: 0;
	}
	20%,40%,
	60%, 80% {
		opacity: 1;
	}
}

@keyframes errorBorder {
	0%,
	100% {
		border: 2px solid white;
	}
	40%,
	60% {
		border: 4px solid red;
	}
}


@media (prefers-color-scheme: light) {
	.seperator {
		background-color: black;
	}
	.guess-box {
		border: 2px solid black;
	}
}